# Deno related files
.cache
deps
deno_test_coverage

# IDE files
.vscode
.idea

# Dependency management files
.lock

# Fresh build directory
_fresh/

# Other files
.DS_Store
.env
/config.json
node_modules
